<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <!-- GOOGLE TRANSLITRATOR JAVASCRIPT CODE -->
        <script type="text/javascript" src="https://www.google.com/jsapi">
    </script>
    
    <script type="text/javascript" src="js/http_req_file.js"></script>
    <script type="text/javascript">

      // Load the Google Transliterate API
      google.load("elements", "1", {
            packages: "transliteration"
          });

      function onLoad() {
        var options = {
            sourceLanguage:
                google.elements.transliteration.LanguageCode.ENGLISH,
            destinationLanguage:
                [google.elements.transliteration.LanguageCode.MALAYALAM],
            shortcutKey: 'ctrl+g',
            transliterationEnabled: true
        };

        // Create an instance on TransliterationControl with the required
        // options.
        var control =
            new google.elements.transliteration.TransliterationControl(options);

        // Enable transliteration in the textbox with id
        // 'transliterateTextarea'.
        control.makeTransliteratable(['a']);
      }
      google.setOnLoadCallback(onLoad);
    </script>
    
    <!-- GOOGLE TRANSLITRATOR JAVASCRIPT CODE -->
 
 	<title>form</title>
 	</head>
 	<body>
 	<center>
 	<img  src="static/images/images.jpg"/>
 	</center>
 		{% if test %}
 		  <h1> your name is {{test}} </h1>
 		{% endif %}
 	<form id='test' name='test' method='post' action='test_form'>
 	  ENTER NAME: <input type='text' id='a' name='a' > <br/>
 	  <input type='submit' id='d' name='d'>
 	</form>
 	</body>
</html>